body {
    font-family: Arial, sans-serif;
    background-color: #121826;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    overflow: hidden;
}

.container {
    background-color: #1b2433;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.credits-btn {
    background-color: #4f83ff;
    display: flex;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: left;
}

.logo img {
    width: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.small-text {
    font-size: 12px;
    color: #aaa;
}

.promo a {
    color: #4f83ff;
    font-weight: bold;
    text-decoration: none;
}

.payment-method {
    font-size: 12px;
    color: #a0c1ff;
    margin-bottom: 15px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.tab {
    background-color: #4f83ff;
    border: none;
    padding: 10px 15px;
    width: 150px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    margin: 0 5px;
}

.tab:not(.active) {
    background-color: #2a3b57;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4f83ff;
    margin-top: 3px;
    background-color: #2a3b57;
    color: white;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details a {
    font-size: 13px;
    color: #4f83ff;
    text-decoration: none;
}

.details input{
    width: 150px;
}

.submit-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}


.details-label{
    display: flex;
    align-items: center;
    gap: 150px;

}